.list-group-item img {
  width: 4rem;
}

.list-group-item-action {
  cursor: pointer;
}
.input-group-search {
  margin: 0rem 20% !important;
}

h5 {
  margin: 15px 0;
}

.badge.bg-dark {
  margin-right: 10px;
}

@media only screen and (min-width: 1000px) {
  .input-group-search {
    margin: 0rem 30% !important;
  }
  .drink-list {
    padding: 0 20%;
  }
}
